
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

body, html{
    overflow-x: hidden;
}




  #modal{
   display: none;
   background-color: 6156e9;
   position: fixed;
   top: 0%;
   overflow: auto;
   width: 100%;
   height: 100%;
   padding: 10px 20px;
   background: rgb(19,11,11);
   background: linear-gradient(90deg, rgba(19,11,11,1) 56%, rgba(169,4,0,1) 100%, rgba(221,221,125,1) 100%);}



  #modal-content{
  width: 70%;
  background-color: whitesmoke;
  text-align: center;
  margin: auto;
  padding: 10px;
  justify-content: center;
  margin: 5% auto; 
  border-radius: 10px;
  }
 

  #modal-content p{
   text-align: justify;
    padding: 30px;
    }

 #closemodal{
display: flex;
 justify-content: flex-end;
 text-align: right;
 align-items: flex-end;
 font-size: 30px;
 padding-right: 10px;
 color: gray;
 }

 
 #closemodal:hover{
 cursor: pointer;
 color: red;

}



#button{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: red;
    padding: 10px 40px;
    border: 3px solid rgb(19,11,11);
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}

#button::before,
#button::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: inherit;
    transition: all .5s ease-in;
}

#button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

#button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

#button:hover::before,
#button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}


.animate{animation: opac 0.8s
}

@keyframes opac{
    from{opacity:0} 
    to{opacity:1}
}


/* Media Querie for small screens */
@media all and (max-width: 600px) {
    #modal-content{
        width: 100%;
        }
}
